/dataset/immagini_contest/
/dataset/images/*
/dataset/*.pdf
/dataset/train/*
/dataset/test/*
/lib/libsvm-3.20/
/mat/GMM*.mat
/mat/signatures*.mat
/mat/Cov*.mat
lib/*
dataset/immagini_contest.zip

dataset/~$Validation.xlsx

*.mexmaci64

*.mexmaci64

lib/libsvm-3.20/matlab/libsvmread.mexmaci64

mat/trainSet_FULL.mat

*.m~
